body {
    font-family: "Manrope", sans-serif;
    background-color: #1C2225;
    color: #FCF9F9;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    font-style: normal;
    color: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.accent {
    color: #ECD979;
}

/* --------------HEADER-------------- */

.header {
    margin-top: 20px;
}

.header-container {
    width: 1280px;
    padding: 2px 50px;
    display: flex;
    justify-content: space-between;
}

.header-menu-and-logo {
    display: flex;
    align-items: center;
}

.header-logo {
    fill: #ECD979;
    margin-left: 60px;
}

.header-nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
}

.header-address-and-social {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-address {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    line-height: 1.43;
    text-transform: uppercase;
}

.header-address:focus, .header-address:hover {
    border: 1px solid #ecd979;
}

.header-social-list {
    display: flex;
    gap: 12px;
    align-items: center;
    line-height: 0;
}

.social-svg {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    background-color: rgba(252, 249, 249, 0.1);
    padding: 8px;
    fill: #FCF9F9;
}

.social-svg:hover, .social-svg:focus {
    border: 1px solid #ecd979;
    background-color: transparent;
}


/* ---------------------------- */
/* --------------HERO-------------- */

.hero {
    margin-top: -52px;
}

.hero-container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.hero-image {
    margin-top: 158px;
    border-radius: 4px;
}

.hero-text-btn {
    margin-top: 246px;
    margin-left: 40px;
    width: 518px;
}

.hero-header {
    font-weight: 400;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.hero-star-and-text {
    width: 115px;
    margin-top: 166px;
    margin-left: auto;
    fill: #ECD979;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: center;
    color: rgba(252, 249, 249, 0.4);
}

.hero-btn {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 39px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    background-color: transparent;
    color: inherit;
    fill: #ECD979;
    margin-left: 141px;
    cursor: pointer;
}

.hero-btn-arrow {
    margin-left: 10px;
}

.hero-btn:hover, .hero-btn:focus {
    border: 1px solid #ecd979;;
}

/* ---------------------------- */
/* --------------ABOUT US-------------- */


.about-us-container {
    width: 1180px;
    display: flex;
    gap: 50px;
    margin-top: 150px;
    background-image: url(../images/sprite.svg#icon-arnament-grey);
    fill: #FCF9F9;
    align-items: center;
}

.about-us-header {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    margin-bottom: 40px;
}

.about-us-text-container {
    width: 536px;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
}

.about-us-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}